{{>header}}
<div class="container">
      <center> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAmATdw7u4xCW-I4v4hkTsPzaYtEwQ-mketQ&usqp=CAU" class="img-fluid mb-3" style="width: 30%;" alt="..."></center>
</div>
    <div class="text-center" class="container mb-4">
        <p class="text-center mb-3">Revisa nuestro listado de cursos e inscribite ahora!</p>
</div>

<div class="card mb-3 container" style="max-width: 540px;">
  <div class="row container g-0">
    <div class="col-md-4">
      <img src="https://www.auros.com.co/wp-content/uploads/2019/02/Tipos-de-cursos.jpg" alt="..." style="width: 100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nuestra oferta academica</h5>
        <p class="card-text">Acá podrás ver toda nuestra oferta académica .</p>
        <a class="btn btn-primary" href="/inscribir" role="button">Visitar</a>
      </div>
    </div>
  </div>
    </div>
{{>footer}}