{{>header}}
<div class="container">
    <div class="alert alert-primary" role="alert">
  Nuestro listado de inscritos a los cursos
</div>
    {{{mostrarInscritos cursos inscritos}}}
</div>
{{>footer}}